{% include "header.html" %}

<div class="container">
    <h1 class="mx-auto">Set Simulation Parameters:</h1>
    <form class="row" id="simulation-form" action="{{url_for('simulate')}}" method="POST">
        <div class="col-md-8 mb-3 mx-auto">
            <div class="my-3">
                <h3 for="experiment-name" class="form-label">Experiment Name:</h3>
                <input type="text" class="form-control" id="experiment-name" name="experiment-name">
            </div>
            <div class="my-3">
                <div class="my-3">
                    <h3 for="sim-time" class="form-label">Input Simulation Time:</h3>
                    <input type="text" class="form-control" id="sim-time" name="sim-time">
                </div>
                <div class="my-3">
                    <h3 class="form-label">Select Scenario:</h3>
                    <div class="row">
                        <label for="start-hour" class="col-sm-6 form-label">Start time of the day to initiate the
                            simulation</label>
                        <div class="col-sm-3">
                            <select name="start-hour" id="start-time-hour" class="form-control">
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select name="start-period" id="start-time-period" class="form-control">
                            </select>
                        </div>

                    </div>
                    <div class="form-check">
                        <div class="row">
                            <div class="col-6">
                                <input type="radio" class="form-check-input" id="random-scenario" value="1"
                                    name="scenario" onclick="hideCustomScenario()" checked>
                                <label for="random-scenario" class="form-check-label">Random Scenario</label>
                            </div>
                        </div>
                        <div>
                            <div class="ps-3 random-scenario-seed">
                                <label for="random-seed"> Input random seed for random scenario:</label>
                                <input type="number" class="form-control" id="random-seed" name="random-seed">
                            </div>
                        </div>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="custom-scenario-chkbox" name="scenario"
                            value="2" onclick="hideCustomScenario()">
                        <label for="custom-scenario-chkbox" class="form-check-label">Custom Scenario</label>
                        <div class="form-row custom-scenario-detail" style="display: none">
                            <div class="col-md-6">
                                <label for="breakfast-time" class="col-form-label">Breakfast Time (hr)</label>
                                <div class="form-row">
                                    <select name="breakfast-time" id="breakfast-time"
                                        class="form-control col-sm-5 mx-1">
                                    </select>
                                    <select name="breakfast-period" id="breakfast-period"
                                        class="form-control col-sm-5 mx-1">
                                    </select>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <label for="breakfast-size" class="col-form-label">Breakfast Size (g)</label>
                                <input type="text" class="form-control" id="breakfast-size" name="breakfast-size">
                            </div>
                            <div class="col-md-6">
                                <label for="lunch-time" class="col-form-label">Lunch Time (hr)</label>
                                <div class="form-row">
                                    <select name="lunch-time" id="lunch-time" class="form-control col-sm-5 mx-1">
                                    </select>
                                    <select name="lunch-period" id="lunch-period" class="form-control col-sm-5 mx-1">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="lunch-size" class="col-form-label">Lunch Size (g)</label>
                                <input type="text" class="form-control" id="lunch-size" name="lunch-size">
                            </div>
                            <div class="col-md-6">
                                <label for="dinner-time" class="col-form-label">Dinner Time (hr)</label>
                                <div class="form-row">
                                    <select name="dinner-time" id="dinner-time" class="form-control col-sm-5 mx-1">
                                    </select>
                                    <select name="dinner-period" id="dinner-period" class="form-control col-sm-5 mx-1">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="dinner-size" class="col-form-label">Dinner Size (g)</label>
                                <input type="text" class="form-control" id="dinner-size" name="dinner-size">
                            </div>
                            <div class="col-md-6">
                                <label for="snack-time" class="col-form-label">Snack Time (hr)</label>
                                <div class="form-row">
                                    <select name="snack-time" id="snack-time" class="form-control col-sm-5 mx-1">
                                    </select>
                                    <select name="snack-period" id="snack-period" class="form-control col-sm-5 mx-1">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="snack-size" class="col-form-label">Snack Size (g)</label>
                                <input type="text" class="form-control" id="snack-size" name="snack-size">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <h3 for="">Select Virtual Patients:</h3>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="1" id="all-adolescents"
                            name="adolescents" onclick="disablePatientIDBox()">
                        <label class="form-check-label" for="all-adolescents">
                            All Adolescents
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="2" id="all-adults" name="adults" checked
                            onclick="disablePatientIDBox()">
                        <label class="form-check-label" for="all-adults">
                            All Adults
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="3" id="all-children" name="children"
                            onclick="disablePatientIDBox()">
                        <label class="form-check-label" for="all-children">
                            All children
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="4" id="custom-patientID-chkbox"
                            name="patientID" onclick="disablePatientIDBox()">
                        <label for="custom-patientID-chkbox"> Or by patient ID</label>
                        <div class="row custom-patientID" style="display: none">
                            {% for p_name in patient_names %}
                            <div class="form-check form-check-inline col-md-4 col-lg-3 col-xl-2 ">
                                <input type="checkbox" class="form-check-input custom-p-name" id="{{p_name}}"
                                    name="{{p_name}}" value="{{p_name}}">
                                <label for="{{p_name}}" class="form-check-label">{{p_name}}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
                <div class="mb-3">
                    <h3 class="form-text">Select Sensor Name:</h3>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="dexcom" name="sensor" value="Dexcom" checked>
                        <label for="dexcom" class="form-check-label">Dexcom</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="guardianRT" name="sensor" value="GuardianRT">
                        <label for="guardianRT" class="form-check-label">GuardianRT</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="navigator" name="sensor" value="Navigator">
                        <label for="navigator" class="form-check-label">Navigator</label>
                    </div>
                    <div class="ps-3">
                        <label for="seed-for-sensor">Input a random seed for sensor noise:</label>
                        <input type="text" name=seed-noise id="seed-for-sensor" class="form-control">
                    </div>
                </div>
                <div class="mb-3">
                    <h3 class="form-text">Select Insulin Pump:</h3>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="cozmo" name="pump" value="Cozmo" checked>
                        <label for="cozmo" class="form-check-label">Cozmo</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="insulet" name="pump" value="Insulet">
                        <label for="insulet" class="form-check-label">Insulet</label>
                    </div>
                </div>
                <div class="mb-3">
                    <h3 class="form-text">Select Controller:</h3>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="basal-bolus" name="controller"
                            value="basal-bolus" checked>
                        <label for="basal-bolus" class="form-check-label">Basal-Bolus</label>
                    </div>
                </div>
                <div class="mb-3">
                    <h3 class="form-text">Saved Folder:</h3>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="default-path" name="path" value="default"
                            checked onclick="disablePathBox()">
                        <label for="default-path" class="form-check-label">Default Folder</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="custom-path-radio" name="path" value="custom"
                            onclick="disablePathBox()">
                        <label for="custom-path-radio" class="form-check-label">Custom Folder</label>
                        <input type="text" class="form-control" id="custom-path-input" name="custom-path-input"
                            disabled="disabled">
                    </div>
                </div>
                <div class="mb-3">
                    <h3 class="form-text">Animation:</h3>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="with-animation" name="animate" value="True"
                            onclick="disableParallelRadio()">
                        <label for="with-animation" class="form-check-label">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="no-animation" name="animate" value="False"
                            checked onclick="disableParallelRadio()">
                        <label for="no-animation" class="form-check-label">No</label>
                    </div>
                </div>
                <div class="mb-3">
                    <h3 class="form-text">Parallel Computation:</h3>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="with-parallel" name="parallel" value="True">
                        <label for="with-parallel" class="form-check-label">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="no-parallel" name="parallel" value="False"
                            checked>
                        <label for="no-parallel" class="form-check-label">No</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
    </form>
    <div id="view"></div>

</div>

<script>
    const system = {{ system| tojson }};
</script>
<script src="{{ url_for('static', filename='js/simulate_form.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/realtime_query.js' )}}">
</script>

<!-- <script>let system = myFunc({{ system| tojson}});</script> -->

{% include "footer.html" %}