<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <script src="https://unpkg.com/vega@5.20.2/build/vega.min.js"></script>
    <script src="https://unpkg.com/vega-lite@5.1.0/build/vega-lite.min.js"></script>
    <script src="https://unpkg.com/vega-lite-api@5.0.0/build/vega-lite-api.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-tooltip"></script>
</head>

<body>
    <div id="view"></div>
    <script src="{{ url_for('static', filename='js/view_simulate.js') }}"></script>

</body>

</html>